* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

.header {

    position: sticky;
    z-index: 999;
    top: -10px;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

.post-text-container {


    padding: 2rem;
  
    

}

.post-header {
    
    position: relative;
    height: 80%;
    width: 100%;
    background-color: #F1F1F1;
    padding-left: 2rem;
}

.what-do-we-do {
    background-color: #0a1322;
    height: 50vw;
    padding-left: 2rem;

}

.data-driven-strats {
    background-color: #e98f8c;
    height: 100vw;
    padding-left: 2rem;

}

.our-approach {
    background-color: #0a1322;
    height: 60vw;
    padding-left: 2rem;
}

.statement {
    background-color: #F1F1F1;
    height: 90vw;
    padding-left: 2rem;
}

.footer {
    background-color: #223859;
    height: 80vw;
    padding-left: 2rem;
}



.hello-image {
    position: relative;
    height:120vw;
    width: 100%;
}



.hello-image-2 {
    position: relative;
    height:60vw;
    width: 100%;
}



.content {

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

